<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_BlogPostArea1" />
                <partial name="Partial/_RatingArea" />
                <partial name="Partial/_SocialsShare" />
                <partial name="Partial/_MediaComments" />
                <partial name="Partial/_ResponseArea" />
                <partial name="Partial/_ReplayBox" />               
            </div>
        </div>
    </div>
</section>