<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>First view from first controller</h3>
    <hr>
    <a href="~/Home/Employees">Сорудники</a>
</body>
</html>
